body, body *{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
html{
    background-color: whitesmoke;
    scroll-behavior: smooth;
}
header{
    background-color: white;
    width: 100%;
    nav{
        border-bottom: 1px solid #70707097;
        height: 70px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
header nav .logo
{ 
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .l{
    object-fit: cover;
    display: flex;
    width: 220px;
    align-items: center;
    height: 40px;
    z-index: 9999;
    img{
        height: 100%;
    }
    h1{
        font-size: 14px;
        color: #1854ee;
    }
}
}
header nav ul{
    list-style-type: none;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    line-height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    a{
        color: black;
        text-decoration: none;
    }
}
header .banner{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: #70707097 1px solid;
    display: flex;
    img{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .top{
        display: flex;
        width: 100%;
        h1{
            color: #1854ee;
            font-size: 35px;
            font-family: cursive;
        }
        img{
            position: unset;
            top: unset;
            height: auto;
            width: 100px;
        }
    }
}
.hero{
    margin:0 5%;
    width: 50%;
    padding: 10px;
    min-height: 250px;
    background-color: #ffffff1a;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    p{
        font-size: 20px;
        font-family: cursive;
        color: #ff7b00;
        font-weight: bold;
    }
    button{
        padding: 10px 20px;
        font-size: 15px;
        border: none;
        width: fit-content;
        box-shadow: #00000056 1px 1px 8px;
        background-color: #1875df;
        color: white;
        border-radius: 3px;
    }
}
section.about{
    display: flex;
    padding:4% 10%;
    background-color: #e6e6e6;
    gap: 10%;
    .info{
       h2{
        font-size: 30px;
        text-transform: capitalize;
        margin: 10px 0;
       }
    }
    .img{
        width: 35%;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: fill;
        img{
            width: 75%;
            
        }
    }
}
.blue{
    color: #1875df;
}
.orange{
    color: #ff7b00;
}
section.wwd{
    padding: 3% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    h2{
        margin: 10px;
    }
    button{
        padding: 8px 20px;
        font-size: 17px;
        border: none;
        border-radius: 3px;
        box-shadow: #00000068 1px 1px 3px;
        background-color: #ff7b00;
        color: white;
    }    
}
section.wwd .items{
    width: 80%;
    padding: 3% 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    div{
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        justify-content: center;
        width: 30%;
        border-radius: 3px;
        background-color: rgb(247, 247, 247);
        box-shadow: #0000005c 1px 1px 3px;
        cursor: pointer;
        p{
            line-height: 45px;
            font-size: 18px;
            box-shadow: unset
        }
        img{
            transition: all 0.5s ease;
            aspect-ratio: 2/1.4;
            align-self: flex-start;
            object-fit: cover;
            width: 100%;
        }

    }
}
section.wwd .items div:hover{
    width: 50%;
    border-radius: 0;
    transition: all 0.5s ease;
    
    img{
        width: 50%;
        align-self: flex-start;
        transition: all 0.5s ease;
    }
}
section.projects{
    padding: 1.8% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    h2{
        padding: 10px 0;
    }
    .items{
        display: flex;
        padding: 1%;
        width: 80%;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        div{
            transition: all 0.4s ease;
            width: 30%;
            cursor: pointer;
            overflow: hidden;
            box-shadow: #1e1e1e72 3px 3px 6px;
            border-radius: 2px;
            img{
                margin: 0;
                display: block;
                aspect-ratio: 2/1.4;
                object-fit: cover;
                padding: 0;
                width: 100%;
            }
        }
    }
}
section.projects .items div:hover{
    scale: 1.05;
}
section.nfooter{
    .bgimg{
        position: absolute;
        background-image: url(mh.jpg);
        background-position: center;
        top: 0;
        bottom: 0;
        width: 100%;
        filter:blur(3px);
        z-index: -1;
    }
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 10%;
    h2{
        font-size: 35px;
        color: #ffffff;
        text-shadow: #00000068 1px 1px 3px;
    }
    p{
        color: #ffffff;
        font-size: 18px;
        text-shadow: #00000068 1px 1px 3px;
    }
    button{
        padding: 10px 25px;
        font-size: 16px;
        border: none;
        font-family: sans-serif;
        border-radius: 3px;
        box-shadow: #00000081 1.5px 1.5px 5px;
        color: white;
        background-color: #1875df;
    }
}
footer{
    padding: 4%;
    display: flex;
    background-color: #e6e6e6;
    justify-content: space-evenly;
    .about{
        width: 30%;
        p.orange{
            font-family:cursive;
            text-align: center;
            font-size: 20px;
        }
        .top{
            display: flex;
            width: 100%;
            align-items: center;
            h1{
                color: rgb(24, 84, 238);
                font-size: 20px;
                font-family: cursive;
            }
            img{
                position: unset;
                top: unset;
                height: auto;
                width: 100px;
            }
        }
    }
    .services{
        h3{
            color: #2a2a2a;
            font-size: 23px;
            margin: 10px 0;
        }
        ul{
            display: flex;
            flex-direction: column;
            line-height: 30px;
            list-style-type: none;
            font-size: 18px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
    }
    .contact{
        h3{
            margin: 10px 0;
            color: #2a2a2a;
            font-size: 23px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 30%;
        p{
            padding: 5px 10%;
            font-size: 18px;
        }
    }
}
.McButton {
    display: none;
    position: relative;
    width: 44px;
    height: 23px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .McButton b {
    position: absolute;
    right: 0;
    width: 44px;
    height: 3px;
    background-color: #000000;
  }
  .McButton b:nth-child(1) {
    top: 0;
  }
  .McButton b:nth-child(2) {
    top: 50%;
  }
  .McButton b:nth-child(3) {
    top: 100%;
  }
  .McButton.active b:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  
  .McButton.active b:nth-child(2) {
    opacity: 0;
  }
  
  .McButton.active b:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  
  .McButton.active {
    transform: rotate(135deg);
  }
@media (max-width:500px) {
    header .banner{
        height: 350px;
        .hero{
            margin:2%;
            width: 100%;
        }
        img{
            height: 100%;
            object-fit: cover;
        }
        .top{
            h1{
                font-size: 25px;
            }
        }
    }
    .McButton {
        display: unset;}
    #menu{
        display: none;
        flex-direction: column;
        top:70px;
        position: absolute;
        width: 100%;
        z-index: 9999;
        right: 0;
        border-top: 1px #0000007a solid;
        background-color: white;
        a{
            text-align: center;
            width: 100%;
        }
    }
    #menu a:hover{
        background-color: #7d92ed !important;
    }
    section.about{
        flex-direction: column-reverse;
        align-items: center;
    }
    section.wwd{
        .items{
            align-items: center;
            width: 90%;
            flex-direction: column;
            div{
                width: 80%;
            }
        }
    }
    .McButton {
        display: unset;
    }
    section.wwd .items div:hover{
        width: 90%;
        border-radius: 0;
        transition: all 0.5s ease;
        
        img{
            width: 50%;
            align-self: flex-start;
            transition: all 0.5s ease;
        }
    }
    section.projects .items{
        margin-top: 10px;
        width: 95%;
        gap: 15px;
        div{
            width: 40%;
            
        }
    }
    footer{
        flex-direction: column;
        .about , .services, .contact{
            width: 100%;
        }
    }
}
@media (min-width: 501px) {
    #menu {
      display: flex !important;
    }
  }